Frontend/src/TerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://www.polytech.fr" name="TerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.polytech.fr" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.polytech.fr" schemaLocation="TerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="afficherTerrain">
    <part name="parameters" element="tns:afficherTerrain"/>
  </message>
  <message name="afficherTerrainResponse">
    <part name="parameters" element="tns:afficherTerrainResponse"/>
  </message>
  <message name="supprimerTerrain">
    <part name="parameters" element="tns:supprimerTerrain"/>
  </message>
  <message name="supprimerTerrainResponse">
    <part name="parameters" element="tns:supprimerTerrainResponse"/>
  </message>
  <message name="seConnecterTerrain">
    <part name="parameters" element="tns:seConnecterTerrain"/>
  </message>
  <message name="seConnecterTerrainResponse">
    <part name="parameters" element="tns:seConnecterTerrainResponse"/>
  </message>
  <message name="ajouterTerrain">
    <part name="parameters" element="tns:ajouterTerrain"/>
  </message>
  <message name="ajouterTerrainResponse">
    <part name="parameters" element="tns:ajouterTerrainResponse"/>
  </message>
  <portType name="Ter">
    <operation name="afficherTerrain">
      <input wsam:Action="http://www.polytech.fr/Ter/afficherTerrainRequest" message="tns:afficherTerrain"/>
      <output wsam:Action="http://www.polytech.fr/Ter/afficherTerrainResponse" message="tns:afficherTerrainResponse"/>
    </operation>
    <operation name="supprimerTerrain">
      <input wsam:Action="http://www.polytech.fr/Ter/supprimerTerrainRequest" message="tns:supprimerTerrain"/>
      <output wsam:Action="http://www.polytech.fr/Ter/supprimerTerrainResponse" message="tns:supprimerTerrainResponse"/>
    </operation>
    <operation name="seConnecterTerrain">
      <input wsam:Action="http://www.polytech.fr/Ter/seConnecterTerrainRequest" message="tns:seConnecterTerrain"/>
      <output wsam:Action="http://www.polytech.fr/Ter/seConnecterTerrainResponse" message="tns:seConnecterTerrainResponse"/>
    </operation>
    <operation name="ajouterTerrain">
      <input wsam:Action="http://www.polytech.fr/Ter/ajouterTerrainRequest" message="tns:ajouterTerrain"/>
      <output wsam:Action="http://www.polytech.fr/Ter/ajouterTerrainResponse" message="tns:ajouterTerrainResponse"/>
    </operation>
  </portType>
  <binding name="TerPortBinding" type="tns:Ter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="afficherTerrain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprimerTerrain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="seConnecterTerrain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ajouterTerrain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TerService">
    <port name="TerPort" binding="tns:TerPortBinding">
      <soap:address location="http://localhost:8989/Ter"/>
    </port>
  </service>
</definitions>

